.splat/
asm/
bin/
assets/
build/

linker_scripts/us/auto/
linker_scripts/cn/auto/
*_auto.ld
drmario64.ld
drmario64.d
linker_scripts/*/partial/

__pycache__/
.venv/

.make_options

ctx.c
ctx.c.m2c
*.o

*.z64
*.n64
*.v64
*.plf
*.sym
*.eeprom

puzzle_collection/

deps_repo/

asdf.c
