.splat/
asm/
bin/
assets/
build/
linker_scripts/auto/
linker_scripts/cn/auto/
linker_scripts/drmario64.ld
linker_scripts/cn/drmario64.ld
__pycache__/
.make_options

ctx.c
ctx.c.m2c
*.o

*.z64
*.n64
*.v64
*.plf
*.sym

puzzle_collection/

deps_repo/

asdf.c
