name: Build

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request_target]

jobs:
  build_repo:
    name: Build repo (${{ matrix.version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [us, cn, gw]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          sudo apt-get install -y make git build-essential clang binutils-mips-linux-gnu gcc-mips-linux-gnu clang-format-14 clang-tidy-14
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Sync uv
        run: |
          uv sync

      - name: Get extra dependencies
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.SECRETREPO }}
          token: ${{ secrets.SECRETTOKEN }}
          path: deps_repo
      - name: Get the dependency
        run: cp deps_repo/drmario64/baserom.${{ matrix.version }}.z64 config/${{ matrix.version }}/baserom.${{ matrix.version }}.z64

      - name: Setup
        run: make setup -j $(nproc) VERSION=${{ matrix.version }}

      - name: Disassemble and extraction
        run: make extract -j $(nproc) VERSION=${{ matrix.version }}

      - name: Build Dr. Mario 64
        run: make -j $(nproc) WERROR=1 VERSION=${{ matrix.version }}

      - name: Print progress
        run: uv run tools/progress.py --version ${{ matrix.version }}

      - name: Generate objdiff report
        run: uv run mapfile_parser objdiff_report report.json --version ${{ matrix.version }}

      - name: Upload progress report artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.version }}_report
          path: report.json

      - name: Upload map
        uses: actions/upload-artifact@v6
        with:
          name: drmario64.${{ matrix.version }}.map
          path: build/${{ matrix.version }}/drmario64.${{ matrix.version }}.map

      - name: Generate PJ64 symbols file
        run: uv run tools/pj64_syms.py --version ${{ matrix.version }} -o drmario.${{ matrix.version }}.sym

      - name: Upload PJ64 symbols file
        uses: actions/upload-artifact@v6
        with:
          name: drmario.${{ matrix.version }}.sym
          path: drmario.${{ matrix.version }}.sym
